@model ByteBank.Forum.ViewModels.ContaMinhaContaViewModel

@{
    ViewBag.Title = "MinhaConta";
}

<h2>MinhaConta</h2>


@using (Html.BeginForm("EsquecerNavegador", "Home", FormMethod.Post, new { id = "formulario_esquecer_navegador" }))
{

}

@using (Html.BeginForm("DeslogarDeTodosOsLocais", "Home", FormMethod.Post, new { id = "desloga_de_todos_os_locais" }))
{

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ContaMinhaContaViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeCompleto, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (Model.NumeroDeCelularConfirmado)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.HabilitarAutenticacaoDeDoisFatores, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HabilitarAutenticacaoDeDoisFatores)
                    @Html.ValidationMessageFor(model => model.HabilitarAutenticacaoDeDoisFatores, "", new { @class = "text-danger" })
                </div>
            </div>
            <a href="javascript:document.getElementById('formulario_esquecer_navegador').submit()"> Esquecer Este Navegador </a>
        </div>
    }
    else
    {
        <p>
            * Informe e confirme seu número de celular par habilitar
            * A autenticação com dois fatores.

            @Html.ActionLink("Clique aqui para verificar o token recebido!", "VerificacaoCodigoCelular")
        </p>
    }

    <a href="javascript:document.getElementById('desloga_de_todos_os_locais').submit()">Deslogar de Todos os Locais </a>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>s
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
}
